@use './styles/variables' as *;
@use './styles/container' as *;

.fastBuy {
  .container {
    width: auto;
    padding: 40px;
  }

  .fastBuyHeader {
    padding: 100px 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
  }

  .fastBuyWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .fastBuyContainer {
    flex: 1 1 calc(33.3% - 20px);
    max-width: calc(33.3% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #e1e1e1;

    img {
      width: 100%;
      height: 100%;
    }

    h5 {
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }

    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      gap: 20px;
      font-size: 16px;
    }

    .fastBuyInputWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .fastBuyTableWidth,
      .fastBuyTableHeight {
        h6 {
          font-size: 16px;
          font-weight: 500;
          margin: 10px;
        }

        input {
          margin-top: 10px;
          padding: 10px;
          font-size: 16px;
          width: 100px;
          border: 1px solid #ccc;
          border-radius: 2px;
        }
      }
    }

    .fastBuyButton {
      width: 100%;
      margin-top: 20px;
    }
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .fastBuy {
    .container {
      padding: 0;

      .fastBuyHeader {
        padding: 50px 0;
      }

      .fastBuyWrapper {
        flex-direction: row;

        .fastBuyContainer {
          padding: 20px;
          width: 100px;
          
          h5 {
            font-size: $font-size-20-tablet; 
          }

          h6 {
            font-size: $font-size-16-tablet; 
          }

          ul {
            font-size: $font-size-16-tablet;
          }

          .mainButton {
            font-size: $font-size-16-tablet;
            padding: 10px;
          }

          .fastBuyInputWrapper {
            .fastBuyTableWidth,
            .fastBuyTableHeight {
              h6 {
                font-size: $font-size-16-tablet;
                font-weight: 500;
                margin: 0;
              }
      
              input {
                margin-top: 10px;
                padding: 10px 20px;
                font-size: $font-size-16-tablet;
                width: 50%;
                border: 1px solid #ccc;
                border-radius: 2px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .fastBuy {
    .container {
      padding: 0;

      .fastBuyHeader {
        padding: 50px 0;
      }

      .fastBuyWrapper {
        flex-direction: column;

        .fastBuyContainer {
          padding: 20px;
          width: 300px;
          max-width: none;
          
          h5 {
            font-size: 20px; 
          }

          h6 {
            font-size: 16px; 
          }

          ul {
            font-size: 16px;
          }

          .mainButton {
            font-size: 16px;
            width: 300px;
            padding: 15px;
          }

          .fastBuyInputWrapper {
            .fastBuyTableWidth,
            .fastBuyTableHeight {
              h6 {
                font-size: 16px;
                font-weight: 500;
                margin: 0;
              }
      
              input {
                margin-top: 10px;
                padding: 10px 20px;
                font-size: 16px;
                width: 50%;
                border: 1px solid #ccc;
                border-radius: 2px;
              }
            }
          }
        }
      }
    }
  }
}