@use './styles/variables' as *;
@use './styles/container' as *;

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: #e2ae53;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 0 25px 0;
  color: #222831;
  bottom: 0;
  left: 0;
  width: 100%;
}


.svgLeft img,
.svgRight img {
  display: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logoWrapper {
  display: flex;
  width: 100%;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.footerLeft {
  width: 400px;

  p {
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
  }
}

.footerCenter {
  .navList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .navList li {
    padding-bottom: 10px;
  }
  .navList a {
    color: #222831;
    font-weight: 400;
    text-decoration: none;
  }
}

.footerRightButtons {
  display: flex;
  gap: 20px;

  .contactUsRoundedButton {
    width: 50px;
    height: 50px;
    background-color: #222831;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;

    svg {
      font-size: 1.5rem;
      stroke: #fff;
      fill: #fff;
    }
  }
}


.footerRight {
  .footerRightWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .footerRightItem {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;

      p {
        margin: 0;
        padding: 0;
      }
    }

  }

  .roundedButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #222831;
  }
  .btnCalculator {
    padding: 15px 20px;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #222831;
    color: white;
    border: none;
    cursor: pointer;
  }
}

.footer hr {
  margin-top: 30px;
  border-top: 1px solid #222831;
  width: 100%;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .footerWrapper {
    align-items: center;
    padding: 100px 0 0;

    .logoWrapper {
      width: auto;
    }

    .footerContent {
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .footerLeft {
        p {
          font-size: $font-size-20-tablet;
          text-align: center;
        }
      }

      .footerCenter {
        a {
          font-size: $font-size-20-tablet;
        }
      }

      .footerRightWrapper {
        align-items: center;
        .footerRightItem {
          align-items: center;
          font-size: $font-size-20-tablet;
        }

        .footerRightButtons {
          align-items: center;

          .contactUsRoundedButton {
            width: 40px;
            height: 40px;
          }

          .btnCalculator {
            padding: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 601px) {
  .container {
    width: 300px;
  }

  .footerWrapper {
    align-items: center;
    padding: 100px 0 0;

    .logoWrapper {
      width: auto;
    }

    .footerContent {
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .footerLeft {
        width: 100%;
        p {
          font-size: 16px;
          text-align: center;
        }
      }

      .footerCenter {
        a {
          font-size: 16px;
        }
      }

      .footerRightWrapper {
        align-items: center;
        .footerRightItem {
          align-items: center;
          font-size: 16px;
        }

        .footerRightButtons {
          align-items: center;

          .contactUsRoundedButton {
            width: 30px;
            height: 30px;

            svg {
              font-size: 1rem;
            }
          }

          .btnCalculator {
            padding: 10px;
          }
        }
      }
    }
  }
}