@use './styles/variables' as *;
@use './styles/container' as *;

.whatWeOffer {
  padding: 0 20px;

  .whatWeOfferHeader {
    width: 100%;
    text-align: center;
    font-size: 36px;
    padding: 50px 0;
  }

  .whatWeOfferText {
    padding: 0 100px;
    text-align: center;
  }

  .whatWeOfferWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .whatWeOfferItemWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 800px;
  }

  .whatWeOfferVerticalItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    gap: 15px;

    h4 {
      font-weight: 500;
      font-size: 16px;
      margin: 0;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      font-weight: 300;
    }
  }

  .whatWeOfferItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .mainImage {
    width: 100%;
    max-width: 600px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .whatWeOffer {
    .mainImage {
      max-width: calc(75vw - 100px);
      height: auto;
    }

    .whatWeOfferItem {
      flex-direction: row;
      width: 100%;
      align-items: start;
    }

    .whatWeOfferWrapper {
      flex-direction: column;
    }
    
    .whatWeOfferHeader {
      font-size: $font-size-32-tablet;
      padding: 20px 0;
    }

    .whatWeOfferText {
      font-size: $font-size-20-tablet;
      padding: 0;
    }

    .whatWeOfferItemWrapper {
      flex-direction: column;
      height: auto;
      gap: 20px;

      .whatWeOfferItem {
        &:nth-child(2) {
          order: -1;
        }
      }

      .whatWeOfferVerticalItem {
        img {
          width: 40px;
          height: 40px;
        }

        h4 {
          font-size: $font-size-20-tablet;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .whatWeOffer {
    .mainImage {
      width: 75%;
      height: auto;
    }

    .whatWeOfferItem {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    .whatWeOfferWrapper {
      flex-direction: column;
    }
    
    .whatWeOfferHeader {
      font-size: $font-size-32-tablet;
      padding: 20px 0;
    }

    .whatWeOfferText {
      font-size: $font-size-20-tablet;
      padding: 20px 0;
    }

    .whatWeOfferItemWrapper {
      flex-direction: column;
      height: auto;
      gap: 20px;

      .whatWeOfferItem {
        &:nth-child(2) {
          order: -1;
        }
      }

      .whatWeOfferVerticalItem {
        width: 100%;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
        }

        h4 {
          font-size: $font-size-20-tablet;
        }
      }
    }
  }
}