.cartContainer {
  position: relative;
}

.cartLogo {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;

  .cartIcon {
    width: 100%;
    height: 100%;
    color: #222831;
  }
}

.cartButton {
  background-color: transparent;  
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  z-index: 2000;
  top: 100px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &.shake {
    animation: shake 1s;
  }

  .cartCount {
    font-family: 'Montserrat Alternates', sans-serif;
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
  }
}

@keyframes shake {
  0% { transform: rotate(0deg) scale(1); }
  25% { transform: rotate(5deg) scale(1.1); }
  50% { transform: rotate(0deg) scale(1); }
  75% { transform: rotate(-5deg) scale(1.1); }
  100% { transform: rotate(0deg) scale(1); }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10000;
  width: 100%;
  height: 100%;
}

.cartList {
  position: fixed;
  top: 100px;
  right: 100px;
  width: 600px;
  max-height: 500px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 99999;

  .orderButton {
    font-family: 'Montserrat Alternates', sans-serif;
    display: block;
    width: calc(100% - 20px); /* Відняти padding */
    padding: 15px 20px;
    margin: 10px auto 0 auto;
    background-color: #e2ae53;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #c49e58;
    }
  }
}

.totalAmount {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

.promoCode {
  display: flex;
  gap: 10px;
  margin-top: 10px;

  input {
    padding: 5px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    padding: 5px 10px;
    background-color: #e2ae53;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #cc9d4a;
    }
  }
}

.cartItem {
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;

  .cartItemInfo {
    margin-bottom: 10px;
  }

  .price {
    font-weight: bold;
  }

  .oldPrice {
    text-decoration: line-through;
    color: #999;
    margin-left: 5px;
  }

  .quantityControls {
    display: flex;
    align-items: center;
    gap: 10px;

    .quantityInput {
      width: 50px;
      padding: 5px;
      text-align: center;
    }

    .removeButton {
      font-family: 'Montserrat Alternates', sans-serif;
      background-color: red;
      color: white;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: darkred;
      }
    }
  }
}

.viewAllButton,
.orderButton {
  font-family: 'Montserrat Alternates', sans-serif;
  display: block;
  width: 100%;
  padding: 15px 20px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #e2ae53;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #c49e58;
  }
}

.viewAllButton {
  background-color: #e2ae53;
  &:hover {
    background-color: #c49e58;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
}

@media (max-width: 601px) {
}