@use './styles/variables' as *;
@use './styles/container' as *;

.whyUs {
  padding: 250 0 100px;
}

.whyUsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.whyUsHeader {
  width: 100%;
  text-align: center;
  font-size: 36px;
}


.whyUsItemHorizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.whyUsItemHorizontal p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 64px;
  font-weight: 900;
  color: #e2ae53;
}

.whyUsItemHorizontalText {
  display: block;
  font-size: 16px;
  width: 80px;
}

.whyUsItemVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whyUsItemVertical p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 40px;
  margin: 0;
  font-weight: 900;
  color: #e2ae53;
}

.whyUsItemVerticalText {
  display: block;
  font-size: 16px;
}



@media (min-width: 601px) and (max-width: 1024px) {
  .whyUs {
    padding: 200px 0 80px;
  }

  .whyUsWrapper {
    flex-direction: row; 
  }

  .whyUsHeader {
    font-size: F;
  }

  .verticalLine {
    height: 300px;
  }

  .whyUsItemHorizontal p {
    font-size: 36px; 
  }

  .whyUsItemVertical p {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .whyUs {
    padding: 150px 0 60px; 
  }

  .whyUsWrapper {
    flex-direction: column; 
    gap: 40px;
  }

  .whyUsLine {
    display: none;
  }

  .whyUsHeader {
    font-size: 24px;
    padding: 50px 0;
  }

  .verticalLine {
    height: 300px;
  }

  .whyUsItemHorizontal p {
    font-size: 36px; 
    margin: 0;
  }
}
