@use './styles/variables' as *;
@use './styles/container' as *;

.contactUs {
  width: 100%;
  padding: 40px 0;

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .contactUsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
  }

  .contactUsPart1 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;

    .contactUsText {
      flex: 1;
      margin-right: 20px;
      max-width: 600px;
      padding: 20px;

      .contactUsHeader {
        margin: 0;
        padding-bottom: 20px;
        font-size: 32px;
        font-weight: 500;
      }

      p {
        margin: 0;
      }
    }

    .contactUsImage {
      img {
        width: auto;
        height: auto;
      }
    }
  }

  .contactUsPart2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

    .contactUsLeft {
      flex: 0 0 33%;
      background-color: #fff;
      border-radius: 2px;
      border: 2px solid #e1e1e1;

      .contactForm {
        display: flex;
        flex-direction: column;
        height: calc(100% - 30px);
        justify-content: space-around;
        margin: 20px;

        input, textarea {
          padding: 15px 20px;
          border: 2px solid #e1e1e1;
          border-radius: 2px;
          font-size: 16px;
          font-family: 'Montserrat Alternates', sans-serif;
          font-weight: 300;
          letter-spacing: 0.75px;
        }

        textarea {
          resize: none;
        }

        .calculatorButton {
          padding: 15px 20px;
          background-color: #e2ae53;
          font-family: 'Montserrat Alternates', sans-serif;
          font-size: 16px;
          border: none;
          color: #222831;
          cursor: pointer;
          border-radius: 2px;
        }
      }
    }

    .contactUsRight {
      flex: 0 0 66%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      grid-template-rows: auto auto auto;

      .contactUsItem {
        background-color: #fff;
        padding: 20px;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 20px;
        border: 2px solid #e1e1e1;

        .contactUsItemImage {
          display: flex;
          justify-content: center;
          width: 50px;
          height: 50px;
          align-items: center;
          background-color: #e2ae53;
          border-radius: 2px;
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);

          div {
            display: flex;
            flex-direction: column;
          }
        }

        h6 {
          padding: 0;
          font-size: 16px;
          font-weight: 400;
        }

        p {
          margin: 0;
          font-weight: 300;
        }
      }

      .contactUsItemExtended {
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 2px;
        border: 2px solid #e1e1e1;
        grid-column: span 2;
        padding: 20px;

        h6 {
          padding: 0;
          margin: 0;
          font-size: 16px;
          font-weight: 400;
        }
      }

      .contactUsRoundedButtonWrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .contactUsRoundedButton {
          width: 50px;
          height: 50px;
          background-color: #e2ae53;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
          cursor: pointer;

          svg {
            font-size: 1.5rem;
            stroke: #222831;
            fill: #222831;
          }
        }
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .contactUs {

    .container {
      max-width: 601px;
    }

    .contactUsWrapper {
      gap: 20px;
    }

    .contactUsPart1 {
      flex-direction: row;
      align-items: center;

      .contactUsText {
        max-width: 100%;

        .contactUsHeader {
          font-size: $font-size-32-tablet;
        }

        p {
          font-size: $font-size-16-tablet;
        }
      }

      .contactUsImage {
        margin-top: 20px;

        img {
          width: 200px;
          height: auto;
        }
      }
    }

    .contactUsPart2 {
      flex-direction: column;
      width: 100%;
      gap: 20px;

      .contactUsLeft {
        flex: 1;
        .contactForm {
          gap: 15px;

          label {
            font-size: $font-size-20-tablet;
          }

          input,
          textarea {
            font-size: $font-size-16-tablet;
            padding: 12px 15px;
          }

          .calculatorButton {
            padding: 12px;
            font-size: $font-size-16-tablet;
          }
        }
      }

      .contactUsRight {
        flex: 0 0 66%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        grid-template-rows: auto auto auto;

        .contactUsItem {
          flex-direction: column;
          align-items: center;

          .contactUsItemImage {
            width: 45px;
            height: 45px;
          }

          div{ 
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          h6 {
            font-size: $font-size-16-tablet;
          }

          p {
            font-size: $font-size-12-tablet;
          }
        }

        .contactUsItemExtended {
          flex-direction: column;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 14px;
          }
        }

        .contactUsRoundedButtonWrapper {
          .contactUsRoundedButton {
            width: 40px;
            height: 40px;

            svg {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .contactUs {

    .container {
      max-width: 601px;
    }

    .contactUsWrapper {
      gap: 20px;
    }

    .contactUsPart1 {
      flex-direction: row;
      align-items: center;

      .contactUsText {
        max-width: 100%;

        .contactUsHeader {
          font-size: 24px;
        }

        p {
          font-size: 16px;
        }
      }

      .contactUsImage {
        margin-top: 20px;

        img {
          width: 200px;
          height: auto;
        }
      }
    }

    .contactUsPart2 {
      flex-direction: column;
      width: 100%;
      gap: 20px;

      .contactUsLeft {
        margin: 20px;

        flex: 1;
        .contactForm {
          gap: 15px;

          label {
            font-size: 16px;
          }

          input,
          textarea {
            font-size: 16px;
            padding: 15px;
          }

          .calculatorButton {
            padding: 12px;
            font-size: 16px;
          }
        }
      }

      .contactUsRight {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;

        .contactUsItem {
          flex-direction: column;
          align-items: center;

          .contactUsItemImage {
            width: 45px;
            height: 45px;
          }

          div{ 
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
          }

          h6 {
            font-size: 16px;
            padding: 0;
            margin: 0;
          }

          p {
            font-size: 16px;
          }
        }

        .contactUsItemExtended {
          flex-direction: column;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 16px;
          }
        }

        .contactUsRoundedButtonWrapper {
          .contactUsRoundedButton {
            width: 40px;
            height: 40px;

            svg {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
}