@import './styles/variables.scss';
@import './styles/container.scss';

.contactUs {
  width: 100%;
  padding: 40px 0;

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .contactUsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
  }

  .contactUsPart1 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;

    .contactUsText {
      flex: 1;
      margin-right: 20px;
      max-width: 600px;
      padding: 20px;

      .contactUsHeader {
        margin: 0;
        padding-bottom: 20px;
        font-size: 32px;
        font-weight: 500;
      }

      p {
        margin: 0;
      }
    }

    .contactUsImage {
      img {
        width: 232px;
        height: auto;
      }
    }
  }

  .contactUsPart2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

    .contactUsLeft {
      flex: 0 0 33%;
      background-color: #fff;
      border-radius: 2px;
      border: 2px solid #e1e1e1;

      .contactForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 20px;

        input, textarea {
          padding: 15px 20px;
          border: 2px solid #e1e1e1;
          border-radius: 2px;
          font-size: 16px;
          font-family: 'Montserrat Alternates', sans-serif;
          font-weight: 300;
          letter-spacing: 0.75px;
        }

        textarea {
          resize: none;
        }

        .calculatorButton {
          padding: 10px 20px;
          background-color: #e2ae53;
          border: none;
          color: #fff;
          cursor: pointer;
          border-radius: 5px;
        }
      }
    }

    .contactUsRight {
      flex: 0 0 66%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      grid-template-rows: auto auto auto;

      .contactUsItem {
        background-color: #fff;
        padding: 20px;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 20px;
        border: 2px solid #e1e1e1;

        .contactUsItemImage {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 55px;
          height: 55px;
          background-color: #e2ae53;
          border-radius: 2px;
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);

          div {
            display: flex;
            flex-direction: column;
          }
        }

        h6 {
          padding: 0;
          font-size: 16px;
          font-weight: 400;
        }

        p {
          margin: 0;
          font-weight: 300;
        }
      }

      .contactUsItemExtended {
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 2px;
        border: 2px solid #e1e1e1;
        grid-column: span 2;
        padding: 20px;

        h6 {
          padding: 0;
          margin: 0;
          font-size: 16px;
          font-weight: 400;
        }
      }

      .contactUsRoundedButton {
        width: 40px;
        height: 40px;
        background-color: #e2ae53;
        border-radius: 50%;
        display: inline-block;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
}

@media (max-width: 601px) {

}