@import './styles/variables.scss';
@import './styles/container.scss';

.fastBuy {
  .container {
    padding: 40px;
  }

  .fastBuyHeader {
    padding: 100px 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
  }

  .fastBuyWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .fastBuyContainer {
    flex: 1 1 calc(33.3% - 20px);
    max-width: calc(33.3% - 20px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #e1e1e1;

    img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }

    h5 {
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }

    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      gap: 20px;
      font-size: 16px;
    }

    .fastBuyInputWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .fastBuyTableWidth,
      .fastBuyTableHeight {
        h6 {
          font-size: 16px;
          font-weight: 500;
          margin: 10px;
        }

        input {
          margin-top: 10px;
          padding: 10px 15px;
          font-size: 16px;
          width: 100px;
        }
      }
    }

    button.mainButton {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #45a049;
      }
    }
  }
}
