@use './styles/variables' as *;
@use './styles/container' as *;

.siteHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 2500;
  background-color: transparent; 
  box-shadow: none;
  scroll-margin-top: 100px;
  margin: 0 auto;
  transition: background-color 0.3s ease;

  &.scrolled {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    .headerWrapper {
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .mainNav {
        display: flex;
        align-items: center;
        height: 100px;
        gap: 20px;

        .navList {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          gap: 10px;

          li {
            position: relative;
          }

          a {
            color: #222831;
            text-decoration: none;
            transition: background-color 0.3s ease;
            font-size: 16px; 
          }
        }
      }

      .btnCalculator {
        background-color: #fff;
        color: #222831;
        font-size: 16px;
        padding: 15px 20px;
        margin: 10px;
        text-decoration: none;
        border-radius: 2px;
        border: none;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);

        &:hover {
          scale: 0.9;
        }
      }

      .burgerMenu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin: 0;
        border: none;
        z-index: 10000;
        position: relative;
        background-color: transparent;

        .burgerLine {
          width: 30px;
          height: 4px;
          background-color: #222831;
          margin: 4px 0;
          border-radius: 2px;
          transition: all 0.3s ease;
        }

        &.active {
          .burgerLine:nth-child(1) {
            transform: translateY(12px) rotate(45deg);
          }

          .burgerLine:nth-child(2) {
            opacity: 0;
          }

          .burgerLine:nth-child(3) {
            transform: translateY(-12px) rotate(-45deg);
          }
        }
      }
    }
  }

  .mobileNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: -400px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2500;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    padding: 20px;

    &.active {
      right: 0;
    }

    .mobileNavHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px 0;

      .headerLogo {
        width: 100px;
      }

      .closeButton {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
      }
    }

    .navList {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      list-style: none;
      padding: 0 40px;
      margin: 0;

      a {
        color: #222831;
        font-size: 18px;
        text-decoration: none;
        transition: color 0.3s ease;
      }
    }

    .btnCalculator {
      background-color: #e2ae53;
      color: #222831;
      font-size: 16px;
      padding: 15px 20px;
      margin: 20px;
      text-decoration: none;
      border-radius: 2px;
      border: none;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);

      &:hover {
        scale: 0.9;
      }
    }

    .socialMedia {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      padding-top: 100px;

      .contactUsRoundedButton {
        width: 50px;
        height: 50px;
        background-color: #e2ae53;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;

        svg {
          font-size: 1.5rem;
          stroke: #222831;
          fill: #222831;
        }
      }
    }
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    transition: opacity 0.3s ease-in-out;

    &.active {
      display: block;
    }
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    .headerInner {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;

      .headerWrapper {
        padding: 10px 15px;

        .mainNav,
        .btnCalculator {
          display: none;
        }

        .burgerMenu {
          display: flex;
          margin-left: auto;
        }
      }
    }

    .navList a {
      font-size: 14px; 
    }

    .btnCalculator {
      font-size: 14px; 
    }

    .socialMedia a {
      font-size: 14px; 
    }
  }

  @media (max-width: 600px) {
    .headerInner {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;

      .headerWrapper {
        padding: 10px 15px;

        .headerLeft {
          .headerLogo {
            img {
              width: 40px;
            }
          }
        }

        .mainNav {
          display: none;

          .navList {
            a {
              font-size: 12px;
            }
          }
        }

        .burgerMenu {
          display: flex;
          margin-left: auto;
        }
      }
    }

    .mobileNav {
      .navList a {
        font-size: 16px; 
      }

      .btnCalculator {
        font-size: 16px;
      }

      .socialMedia a {
        font-size: 16px; 
      }
    }
  }
}